<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home</a></li>
	        <li><a href="#">Page 1</a></li>
	        <li><a href="#">Page 2</a></li> 
	        <li><a href="#">Page 3</a></li> 
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h2><b>HTML5 | CSS3</b></h2>
			<hr>
			<h3>That web page was created by <b>bootsjqr</b> template</h3>
			<h4>
				Click <a href="https://www.w3schools.com/bootstrap/bootstrap_get_started.asp">here</a> 
				if you want to learn more about bootstrap.
				You can also click <a href="https://www.w3schools.com/jquery/jquery_get_started.asp">here</a>
				to learn more about jQuery.

			</h4>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h3><b>GitHub</b></h3>
				<hr>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque fuga rerum quisquam. Ab eaque exercitationem aliquid, ipsa sed eius distinctio nostrum, sit temporibus optio voluptatum, illum laboriosam id sequi.</h4>
				<br>
				<a href="#" class="btn btn-primary">View &raquo;</a>
			</div>
			<div class="col-lg-4">
				<h3><b>LinkedIn</b></h3>
				<hr>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque fuga rerum quisquam. Ab eaque exercitationem aliquid, ipsa sed eius distinctio nostrum, sit temporibus optio voluptatum, illum laboriosam id sequi.</h4>
				<br>
				<a href="#" class="btn btn-primary">View &raquo;</a>
			</div>
			<div class="col-lg-4">
				<h3><b>CodePen</b></h3>
				<hr>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cumque fuga rerum quisquam. Ab eaque exercitationem aliquid, ipsa sed eius distinctio nostrum, sit temporibus optio voluptatum, illum laboriosam id sequi.</h4>
				<br>
				<a href="#" class="btn btn-primary">View &raquo;</a>
			</div>
		</div>
	</div>
	<br><hr>
	<footer style="padding-right:20px;">
        <a href="https://github.com/FoxyChmoxy" class="pull-right">&copy; foxychmoxy</a>
    </footer>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Js files -->
<script src="js/index.js"></script>
</html>